html {
    background: #080808;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .welcome{
    flex-direction: column;
    margin: 100px;
  }
  .welcome h1 {
    padding-top: 5%;
  }
  .welcome img{
    padding-top: 2%;
    padding-bottom: 5%;
    animation: rotation 15s  5s linear infinite;
  }
  .bg1 {
    background: #af0000;
    background-image: url(src/testimage.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: move 15s linear infinite;
  }
  .bg2 {
    background: #0a61f6;
    background-image: url(src/testimage3.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: move 15s linear infinite;
  }
  .bg3 {
    background: #50d100;
    background-image: url(src/testimage2.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: move 15s linear infinite;
  }

  body{
    font-family:Arial, Helvetica, sans-serif;
    margin:  20px;
    
    color: rgb(255, 255, 255);
    border-top: 10px solid #000000;
  }
  
  header {
    background: #000000;
  }

  header h1 {
    margin: -5px;
    text-align: center;
  }

  header p {
    margin: 5px;
    margin-bottom: 0px;
    text-align: center;
  }
  
  nav {
    margin-bottom: 3px;
    position: sticky;
    top: -1px;
    z-index: 2;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  nav li {
    float: left;
    border-right: 1px solid rgb(1, 1, 1);
  }
  
  nav li a {
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 10px 18px;
    text-decoration: none;
  }
  
  .navactive {
    background-color: #a70000;
  }

  nav li a:hover:not(.active){
    background-color: #111;
  }

  .reveal{
    position: relative;
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  
  section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  section .container{
    margin: 100px;
    background-color: #000000;
  }
  section h1{
    font-size: 3rem;
    margin: 20px;
  }
  section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  section .text-container{
     display: flex;
  }
  section .text-container .text-box{
    margin: 20px;
    padding: 20px;
    
  }
  section .text-container .text-box h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .swR {
    background: #a70000;
    background-color: #a70000;
  }

  .swB {
    background-color: #0a61f6;
    background: #0a61f6;
  }

  .swG {
    background: #50d100;
    background-color: #50d100;
  }

  img {
    height: auto; 
    max-width: 100%;
  }
    
  @keyframes move {
    0%{background-position: 0  0;}
    50%{background-position: -13px -13px;}
    100%{background-position: 0  0;}
  }
  @keyframes rotation {
    0%{transform: rotate(0)}
    100%{transform: rotate(360deg)}
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media screen and (max-width: 616px) {
    .bg1 .bg2 .bg3 {
        background-attachment: scroll;
    }
    header {
      display: block;
      padding: 0;
    } 
    section h1{
        font-size: 2rem;
        text-align: center;
    }
    section .text-container{
        flex-direction: column;
    }
  }

